.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.score-font {
  position: absolute;
  font-size: calc(10px + 2vmin);
  padding: 2vmin 0px 0px 0px;
  z-index: auto;
}

.color-red {
  color: red;
}

.color-green {
  color: rgb(55, 226, 3);
}

#canva_jogo {
  height: 500px;
  width: 500px;
  border: solid 2px white;
}
.game{
  display: flex;
  justify-content: center;
  padding: 0px 0px 30px 0px;
}
#jogo_quadrado1 {
  width: 50px;
  height: 50px;
  background-color: red; 
  position: relative;
  top: 0px;
  left: 80px;
  animation: quadrado1 infinite linear 1s;
}
#jogo_quadrado2 {
  width: 50px;
  height: 50px;
  background-color: rgb(98, 0, 255); 
  position: relative;
  top: 0px;
  left: 225px;
  animation: quadrado2 infinite linear 1s;
}
#jogo_quadrado3 {
  width: 50px;
  height: 50px;
  background-color: rgb(55, 226, 3); 
  position: relative;
  top: 0px;
  left: 370px;
  animation: quadrado3 infinite linear 1s;
}
#jogo_personagem {
  width: 50px;
  height: 50px;
  background-color: white;  
  position: relative;
  top: 300px;
  left: 225px;
}
.andar_esquerda{
  animation: personagem_esquerda infinite 190ms;
}
.andar_direita{
  animation: personagem_direita infinite 190ms;
}
.andar_meio{
  animation: personagem_meio infinite 190ms;
}
@keyframes personagem_esquerda {
  0% {
    left: inherit + 0px;
  }
  100% {
    left: 80px;
  }
}
@keyframes personagem_meio {
  0% {
    left: inherit + 0px;
  }
  100% {
    left: 225px;
  }
}
@keyframes personagem_direita {
  0% {
    left: inherit + 0px;
  }
  100% {
    left: 350px;
  }
}
@keyframes quadrado1 {
  0% {
    top: -50px;
    left: 80px;
  }
  100% {
    top: 400px;
  }
}
@keyframes quadrado2 {
  0% {
    top: -100px;
    left: 225px;
  }
  100% {
    top: 350px;
  }
}
@keyframes quadrado3 {
  0% {
    top: -150px;
    left: 370px;
  }
  100% {
    top: 300px;
  }
}